{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{project_plugins, [
    erlfmt,
    rebar3_lint,
    rebar3_hank,
    rebar3_ex_doc,
    rebar3_audit,
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}},
    rebar3_mutate
]}.

{erlfmt, [write]}.

{hank, [
    {ignore, [
        "src/nova_storage_adapter.erl",
        "test/**"
    ]}
]}.

{xref_ignores, [
    {opentelemetry_api, '_', '_'},
    {otel_tracer, '_', '_'},
    {otel_span, '_', '_'},
    {telemetry, '_', '_'},
    {nova_storage, put, 4},
    {nova_storage, get, 2},
    {nova_storage, get_stream, 2},
    {nova_storage, head, 2},
    {nova_storage, delete, 2},
    {nova_storage, copy, 3},
    {nova_storage, exists, 2},
    {nova_storage, sign_url, 3},
    {nova_storage, sign_url, 4},
    {nova_storage, list, 2},
    {nova_storage, list, 3},
    {nova_storage_registry, start_link, 0},
    {nova_storage_registry, list, 0},
    {nova_storage_registry, unregister, 1},
    {nova_storage_sup, start_store, 2},
    {nova_storage_sup, stop_store, 1},
    {nova_storage_sigv4, sign_request, 6},
    {nova_storage_sigv4, sign_request, 7},
    {nova_storage_sigv4, presign, 6},
    {nova_storage_sigv4, presign, 7},
    {nova_storage_sigv4, canonical_request, 6},
    {nova_storage_sigv4, string_to_sign, 4},
    {nova_storage_sigv4, derive_signing_key, 4},
    {nova_storage_sigv4, signature, 2}
]}.

{dialyzer, [
    {warnings, [error_handling, unmatched_returns]},
    {plt_extra_apps, [inets, xmerl, ssl, public_key, crypto]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => <<"Overview">>}},
        {"guides/getting-started.md", #{title => <<"Getting Started">>}},
        {"guides/adapters.md", #{title => <<"Adapters">>}},
        {"guides/sigv4.md", #{title => <<"SigV4 Internals">>}},
        {"guides/telemetry.md", #{title => <<"Telemetry">>}}
    ]},
    {main, <<"readme">>},
    {source_url, <<"https://github.com/novaframework/nova_storage">>},
    {groups_for_modules, [
        {<<"Core API">>, [nova_storage]},
        {<<"Behaviours">>, [nova_storage_adapter]},
        {<<"Adapters">>, [nova_storage_local, nova_storage_s3]},
        {<<"S3 internals">>, [nova_storage_sigv4, nova_storage_s3_xml]},
        {<<"Internal">>, [nova_storage_registry]}
    ]}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [{meck, "~> 0.9"}]}
    ]}
]}.
